<ion-view view-title="Notes">
  <ion-floating-button click="openModal()" has-footer="true" button-color="#11c1f3" button-class="ion-floating-button" icon="ion-plus"></ion-floating-button>

  <ion-content class="padding">
    <div class="no-notes">
      <div class="card">
        <div class="item item-text-wrap">
          Looks like you don't have any notes yet, let's create one by click on the plus circled button
        </div>

      </div>
      <div class="point-to-button">
        <img src="../img/arrow-bottom-right-blue.svg" alt="">
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        Foo
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        Foo
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        Foo
      </div>
    </div>
  </ion-content>
</ion-view>
